h1 {
    font-family: "Roboto Slab";
    color: #2274c7;
    font-size: 48px;
    text-transform: uppercase;
}
h4 {
    font-size: 30px;
    font-family: "Roboto Slab";
    color: #0773bb;
}
#news h1 {
    font-size: 32px;
    text-transform:none ;
}
.bible h3 {
    color: #0773bb;
    font-family: "Roboto Slab";
}
.bible h3 span {
    text-decoration: underline;
}
.center_img span {
    float: left;
}
.content-header>ol.breadcrumb {
    position: relative;
    float: none;
    top: 0;
    left: 0;
}
img.radius90 {
    border-radius: 45px;
    width: 90px;
    height: 90px;
}
#core_product .item img{
    width: 100%;
}
.test {
    min-height: 200px;
    background: #29c885;
    text-align: center;
    padding: 20px;
}
.center {
    text-align: center;
}
.test name {
    color:#fff;
    font-size: 40px;
}
.sepa {
    padding-top:20px;
    padding-bottom: 20px;
}
#front section.header {
    background: url("../img/header_bg.jpg") center no-repeat;
    background-size: 100% 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
section.header {
    background: url("../img/header_us.jpg") no-repeat;
    background-size: 100% 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
section.content {
    padding-top: 60px;
    padding-bottom: 60px;
}
section.ministry {
    padding-top: 40px;
    padding-bottom: 40px;
    background: url("../img/arches.png");
}
#front section.articles .text{
    font-family: "Roboto Slab";
}
section.footer {
    height: 160px;
    padding-top: 60px;
    background: url("../img/ache.jpg") repeat-x;
}
#header_search {
    float: right;
    width: 100%;
}
span#lang {
    position: absolute;
    right: 0;
    top:3px;
    color: #fff;
}
ul.top_menu li{
    float: left;
    list-style: none;
    padding: 6px 0px;
}
ul.top_menu li a {
    padding:5px 16px;
    color: #fff;
    font-size: 16px;
    font-family: Open Sans;
}
ul.top_menu li a:hover {
    color: #fff;
    text-decoration: underline;
}
.menu_group {
    float: left;
}
section#drop_menu {
    position: relative;
    top: -2px;
    z-index: 0;
}
section#drop_menu ul.root {
    overflow: hidden;
    padding: 40px 20px 20px 40px;
}
/*section#drop_menu #collapse {*/
    /*padding: 40px 20px;*/
/*}*/
section#drop_menu .collapse {
    overflow: hidden;
}
section#drop_menu .panel {
    /*border:0;*/
    /*box-shadow: none;*/
    background: url("../img/arches.png");
}
section#drop_menu #accordion {
    /*position: absolute;*/
}
section#drop_menu {
    /*position: relative;*/
}
section#drop_menu .accordion_button {
    position: absolute;
    margin-left: 50px;
    top: -2px;
    padding: 2px 5px;
    color: #5b82d1;
    background-color: #204faf;
    border-radius: 3px;
    font-size: 22px;
    line-height: 16px;
    width: 32px;
    text-align: center;
}
/*эффект*/
section#drop_menu .accordion_button.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%, 40%{
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}


section#drop_menu ul li ul li {
    display: block;
    float: none;
    width: 100%;
}
section#drop_menu ul li ul {
    padding-left: 10px;
}
section#drop_menu ul li ul li p{
    font-size: 14px;
}
section#drop_menu ul li {
    /*display: inline-table;*/
    float: left;
    width:19%;
}
section#drop_menu ul li p {
    font-family: "Roboto Slab";
    font-size: 20px;
}
small {
    font-weight: 100;
    font-size:12px;
}
.slider_icon {
    width: 54px;
    height: 54px;
    float: left;
    padding-top: 12px;
    font-size: 26px;
    line-height: 12px;
    margin: 4px 10px 30px 20px;
    color: #97d5ff;
    background: #0773bb;
    font-family: "Open Sans";
    border-radius: 54px;
}
.slider_icon small {
    font-size:12px;
    font-weight: 100;
}
.swiper-container {
        width: 100%;
        height: 100%;
    }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-right: 289px;
    width: 881px!important;
}
.swiper-pagination {
    padding-top: 10px;
    width: 290px;
    height: 100%;
    right:0!important;
    background: url("../img/slider_bg.jpg") no-repeat;
    margin-right: -1px;
}
.swiper-pagination .my-pager {
    height: 31%;
    width: 100%;
    display: block;
    cursor: pointer;
}
/*.swiper-pagination .my-pager .slider_icon {*/
    /*width: 54px;*/
    /*height: 54px;*/
    /*float: left;*/
    /*font-size: 17px;*/
    /*color: #97d5ff;*/
    /*background: #0773bb;*/
    /*font-family: "Open Sans";*/
    /*border-radius: 54px;*/
/*}*/
.swiper-pagination .my-pager .title {
    line-height:18px;
    font-size: 17px;
    margin: 6px 20px 0 0;
    text-align: left;
    font-family: "Roboto Slab";
    text-transform: uppercase;
    color: #fff;
}
.swiper-pagination .my-pager .description {
    font-size: 12px;
    font-family: "Open Sans";
    color: #97d5ff;
    text-align: left;
    font-style: italic;
    margin: 0 5px;
}
.btn_front {
    position: relative;
    background: #0773bb;
    color: #fff;
    /*text-transform: uppercase;*/
    font-family: "Open Sans";
    height: 80px;
    line-height: 80px;
    font-size: 16px;
    text-align: center;
}
.btn_front a {
    color: #fff;
    padding: 30px 80px;
}
.btn_front a:hover {
    color: #fff;
    text-decoration: none;
}
.btn_front.orange {
    background: #ff8280;
}
.btn_front img {
    position: absolute;
    top: 20px;
    left: 25px;
}
#news .gallery img {
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.news {
    background: #97d5ff;
    padding:10px 30px 30px 30px;
    height: 425px;
    overflow: hidden;
}
.news a {
    color: #333333;
    font-size: 16px;
    text-decoration: underline;
}
.news h4 a {
    color: #0773bb;
    font-size: 30px;
    text-decoration: underline;
    font-family: "Roboto Condensed";
}
.news .date {
    color: #0773bb;
    font-style: italic;
}
.reviews{
    background: #0773bb;
    padding:10px 30px 30px 15px;
    height: 440px;
    overflow: hidden;
}
.reviews h4 a {
    font-size: 30px;
    color: #fff;
    text-decoration: underline;
    font-family: "Roboto Condensed";
}
.reviews_item {
    margin-left: 27px;
}
.reviews_item img {
    margin-left: -22px;
}
.reviews_item a {
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
}
.reviews_item .person {
    color: #97d5ff;
    font-size: 12px;
    text-decoration: none!important;
}
section.ministry h2,
section.articles h2{
    text-align: center;
    color: #0773bb;
    text-transform: uppercase;
    background: url("../img/separator.png") 0px no-repeat;
    background-size: 100% 1px;
    font-family: "Roboto Condensed";
    margin-top: 0;
}
#article h2 {
    font-family: "Open Sans";
    position: absolute;
    font-size: 35px;
    color: #fff;
    top: 20px;
}
#article h3 {
    font-family: "Roboto Slab";
    font-size: 20px;
    color: #0773bb;
}
#article .lid_text {
    width: 520px;
    position: absolute;
    font-size: 19px;
    font-style: italic;
    line-height: 22px;
    bottom: 10px;
}
#article .gallery img {
    border-radius: 85px;
    margin-right: 30px;
}
#article .gallery {
    margin-top: 60px;
}
.ministry_block {
    width: 20%;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.ministry_block ul li {
    list-style: none;
}
.ministry_block h4 {
    color: #706868;
    font-size: 16px;
    font-weight: bold;
}
.ministry_block ul li a {
    color: #706868;
    font-size: 14px;
}
.articles_item a {
    color: #333333;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}
.articles_item img {
    float: left;
    margin-right: 10px;
}
img.article_bg {
    width: 107%;
    height: 515px;
    margin-top: -70px;
    margin-left: -50px;
}



img.blur {
    -webkit-filter: url(#blur);
    filter: url(#blur);
    -webkit-filter: blur(20px);
    filter: blur(20px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='20');
    -webkit-transition: 1s -webkit-filter linear;
    transition: 1s filter linear;
}
.list_bg {
    width:100%;
    height: 440px;
    background: #000;
}
/*img.blur:hover {*/
    /*filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');*/
    /*-webkit-filter: blur(0px);*/
    /*filter: blur(0px);*/
/*}*/

.bible .text {
    font-style: italic;
    font-size: 16px;
    font-family: "Open Sans";
    margin-top: 30px;
    margin-bottom: 30px;
}
section.footer .text {
    font-size: 11px;
    color: #0773bb;
    width: 25%;
}
section.footer .pull-right {
    font-size: 11px;
    color: #0773bb;
    text-align: right;
}

/*social*/
.social .social_container {
    position: relative;
    text-align: center;
    /*margin-top: -26px;*/
    width: 60%;
    z-index: 2;
    margin: -28px auto;
}
.social .social_container .ic {
    position: relative;
    margin: 0 28px;
    display: inline-block;
    border-radius: 47px;
    width: 47px;
    height: 47px;
    background-image: url("../img/social.png");
}
.social .social_container .ic:hover:before {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 10px solid #3F90C6;
}
.social .social_container .ic:before {
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    left: -7px;
    top: -6px;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    /*-webkit-transition: border 0.5s ease;*/
    /*transition--ease-out: border 0.5s ease;*/
    /*-moz-transition--ease-out: all 1s;*/
    /*-webkit-transition--ease-out: all 1s;*/
    /*-o-transition--ease-out: all 1s;*/
}
.vk.ic {
    background-position: -79px -17px;
}
.od.ic {
    background-position: -384px -17px;
}
.fb.ic {
    background-position: -141px -17px;
}
.ig.ic {
    background-position: -202px -17px;
}
.yt.ic {
    background-position: -507px -17px;
}
.tw.ic {
    background-position: -18px -17px;
}
#testimonys .content img {
    float: left;
    width: 100px;
    height: 100px;
}
.modal-body {
    padding: 0;
}
.modal-primary .modal-header, .modal-primary .modal-footer {
    border-color: #307095
}
.modal-primary .modal-body, 
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-primary .modal-title {
    color: #fff!important;
}
.bg-light-blue, .label-primary, .modal-primary .modal-body {
    background-color: #0773bb !important
}
.bg-light-blue-active, .modal-primary .modal-header, .modal-primary .modal-footer {
    background-color: #0773bb !important
}
.modal-primary .modal-header, .modal-primary .modal-footer {
    border-color: #307095
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    color: rgba(255,255,255,0.7);
    border-color: rgba(255,255,255,0.7);
}
.btn-outline {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}