{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | Административная панель{% endblock %}

{% block branding %}
<h1 id="site-name">Церковь Прославления</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>#}
{#    <link href="{{ STATIC_URL }}AdminLte/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>#}
{#    <script src="{{ STATIC_URL }}AdminLte/bootstrap/js/bootstrap.js"></script>#}
{#    {{ form.media }}#}
{% endblock %}